* {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
.container {
  width: max-content;
  width: 100vw;
  text-align: -webkit-center;
  /* background:rgb(243, 243, 243);; */
}
/* header css code {start}} */
.header {
  background: rgb(243, 243, 243);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
.header-container {
  /* background-color: rgb(243, 238, 238); */
  /* width: 1111px; */
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  /* margin: 0 auto; */
  /* position: fixed */
}

/* header logo css code {start} */
.logo {
  display: inline-block;
  /* padding: 33px; */
}
/* header logo css code {end} */
/* header links css code [start] */
.header-links {
  display: inline-block;
  /* float: right; */
  margin-left: 112px;
}
.header-links > ul > li {
  display: inline-block;
  padding: 0 10px;
}
.header-links a {
  color: black;
  padding: 0 10px;
  text-decoration: none;
}
.header-links li a:hover {
  color: #0056b3;
}
.home a {
  color: #0056b3;
}

/* blog links header links css code [start] */

.blog {
  position: relative;
  /* transition-property: all; */
  /* transition-duration: 3s; */
  /* transition-delay: 5s; */
}
.blog:hover ul {
  display: block;
  background-color: rgb(247, 244, 244);
  width: 156px;
  visibility: visible;
}
.blog-links {
  /* display: none; */
  position: absolute;
  right: 25px;
  top: 29px;
  visibility: hidden;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  width: 156px;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 2;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.blog-links > li > a {
  padding-right: 85px;
}
/* blog links header links css code [end] */

/* pages links header links css code [start] */

.pages {
  position: relative;
}
.pages > ul a {
  padding-right: 90px;
}
.pages:hover > ul {
  display: block;
  position: absolute;
  background-color: rgb(243, 243, 243);
  visibility: visible;
}

.pages-links {
  /* display: none; */
  position: absolute;
  right: 15px;
  top: 29px;
  visibility: hidden;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  width: 150px;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-align: left;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.level li {
  /* display: none; */
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  visibility: hidden;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.level:hover li {
  display: block;
  visibility: visible;
  background-color: rgb(234, 232, 232);
}
.level ul {
  width: 161px;
  right: 151px;
  top: 19px;
  position: absolute;
  background-color: rgb(244, 239, 239);
  visibility: hidden;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-align: left;
}

/* pages links header links css code [end] */
/* header links css code [end] */

/* main css code [statr] */

/* rowone css code [start] */
.rowone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f9f9ff;
  height: 750px;
}
/* rowone left css code [start] */
.rowone-left {
  text-align: left;
  margin-bottom: 142px;
  margin-right: 127px;
}
.rowone-left p {
  opacity: 0.5;
}
.rowone-left h1 {
  margin: 20px 0;
  font-size: 60px;
}
.rowone-left a {
  text-decoration: none;
  color: white;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  display: inline-block;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}

/* rowone left css code [end] */

/* rowone right css code [start] */
.rowone-right {
  margin-left: 11px;
  display: flex;
}
/* rowone right css code [end] */

/* rowone css code [end] */

/* rowtwo css code [start] */
.rowtwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  line-height: 16px;
}
/* rowtwo left css code [start] */
.rowtwo-left {
  margin-right: 162px
}
/* rowtwo left css code [end] */

/* rowtwo right css code [start] */
.rowtwo-right {
  text-align: left;
}
.rowtwo-right p {
  opacity: 0.5;
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.rowtwo-right a {
  text-decoration: none;
  color: white;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  display: inline-block;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  margin-top: 24px;
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}

.rowtwo-right h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* rowtwo right css code [end] */
/* rowtwo css code [end] */

 /* rowthree css code [start] */ 
.rowthree{
  padding: 120px 0;
}
 /* rowthree bottom  css code [start] */ 
.rowthree-bottom{
  display: flex;
    flex-direction:row;
    justify-content: center;
    width: 1842px;
    align-items: center;
    flex-wrap: wrap;
}

.rowthree-bottom img{
width: 42px;
}
.rowthree-bottom div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 480px;
  height: 274px;
  /* box-sizing: border-box */
}
.rowthree-bottom div a{
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
  
}
.rowthree-bottom div:hover a {
  color: #8490ff;
  /* font-size: 22px; */
}
.rowthree-bottom div:hover img{
 background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
/* rowthree bottom  css code [end] */ 
/* rowthree css code [end] */

/* rowtfour css code [start] */

.rowfour{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(83deg, #8490ff 0%, #62bdfc 100%);
  height: 300px;
}
.rowfour div{
  padding: 0 55px;
  color: white;
}
.rowfour h1{
  padding: 0;
  margin: 0;
}
.rowfour p{
  padding: 0;
  margin: 0;
}
/* main css code [end] */
