* {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
.container {
  width: max-content;
  width: 100vw;
  text-align: -webkit-center;
  /* background:rgb(243, 243, 243);; */
}
/* header css code {start}} */
.header {
  background: rgb(243, 243, 243);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  
}
.header::after{
  content: '';
  box-shadow: -7px 8px 13px 20px rgb(184 186 205 / 30%);
  display:block;
 
}
.header:hover{
 
}
.header-container {
  /* background-color: rgb(243, 238, 238); */
  /* width: 1111px; */
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  /* margin: 0 auto; */
  /* position: fixed */
}

/* header logo css code {start} */
.logo {
  display: inline-block;
  /* padding: 33px; */
}
/* header logo css code {end} */
/* header links css code [start] */
.header-links {
  display: inline-block;
  /* float: right; */
  margin-left: 112px;
}
.header-links > ul > li {
  display: inline-block;
  padding: 0 10px;
}
.header-links a {
  color: black;
  padding: 0 10px;
  text-decoration: none;
}
.header-links li a:hover {
  color: #0056b3;
}
.home a {
  color: #0056b3;
}

/* blog links header links css code [start] */

.blog {
  position: relative;
  /* transition-property: all; */
  /* transition-duration: 3s; */
  /* transition-delay: 5s; */
}
.blog:hover ul {
  display: block;
  background-color: rgb(247, 244, 244);
  width: 156px;
  visibility: visible;
}
.blog-links {
  /* display: none; */
  position: absolute;
  right: 25px;
  top: 29px;
  visibility: hidden;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  width: 156px;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 2;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.blog-links > li > a {
  padding-right: 85px;
}
/* blog links header links css code [end] */

/* pages links header links css code [start] */

.pages {
  position: relative;
}
.pages > ul a {
  padding-right: 90px;
}
.pages:hover > ul {
  display: block;
  position: absolute;
  background-color: rgb(243, 243, 243);
  visibility: visible;
}

.pages-links {
  /* display: none; */
  position: absolute;
  right: 15px;
  top: 29px;
  visibility: hidden;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  width: 150px;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-align: left;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.level li {
  /* display: none; */
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  visibility: hidden;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.level:hover li {
  display: block;
  visibility: visible;
  background-color: rgb(234, 232, 232);
}
.level ul {
  width: 161px;
  right: 151px;
  top: 19px;
  position: absolute;
  background-color: rgb(244, 239, 239);
  visibility: hidden;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-align: left;
}

/* pages links header links css code [end] */
/* header links css code [end] */

/* main css code [statr] */

/* rowone css code [start] */
.rowone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f9f9ff;
  height: 750px;
}
/* rowone left css code [start] */
.rowone-left {
  text-align: left;
  margin-bottom: 142px;
  margin-right: 127px;
}
.rowone-left p {
  opacity: 0.5;
}
.rowone-left h1 {
  margin: 20px 0;
  font-size: 60px;
}
.rowone-left a {
  text-decoration: none;
  color: white;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  display: inline-block;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  position: relative;
}
.rowone-left a::after {
  content: "hey";
  display: block;
  position: absolute;
  top: 42px;
  /* bottom: px; */
  color: black;
  visibility: hidden;
  transition: all;
  transition-duration: 1900ms;
  transition-delay: 900ms;
  transition-timing-function: ease-out;

  font-size: 11px;
  border: 1px solid black;
  border-radius: 15px;
}
.rowone-left a:hover {
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}
.rowone-left a:hover::after {
  visibility: visible;
  background-color: #777777;
  font-size: 33px;
  text-decoration: underline;
}
/* rowone left css code [end] */

/* rowone right css code [start] */
.rowone-right {
  margin-left: 11px;
  display: flex;
}
/* rowone right css code [end] */

/* rowone css code [end] */

/* rowtwo css code [start] */
.rowtwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  line-height: 16px;
}
/* rowtwo left css code [start] */
.rowtwo-left {
  margin-right: 162px;
}
/* rowtwo left css code [end] */

/* rowtwo right css code [start] */
.rowtwo-right {
  text-align: left;
}
.rowtwo-right p {
  opacity: 0.5;
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.rowtwo-right a {
  text-decoration: none;
  color: white;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  display: inline-block;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  margin-top: 24px;
 
}
.rowtwo-right a:hover{
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}

.rowtwo-right h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* rowtwo right css code [end] */
/* rowtwo css code [end] */

/* rowthree css code [start] */
.rowthree {
  padding: 120px 0;
}
/* rowthree bottom  css code [start] */
.rowthree-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1842px;
  align-items: center;
  flex-wrap: wrap;
}

.rowthree-bottom img {
  width: 42px;
}
.rowthree-bottom div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 480px;
  height: 274px;
  /* box-sizing: border-box */
}
.rowthree-bottom div a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
}
.rowthree-bottom div:hover a {
  color: #8490ff;
  /* font-size: 22px; */
}
.rowthree-bottom div:hover img {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
/* rowthree bottom  css code [end] */
/* rowthree css code [end] */

/* rowtfour css code [start] */

.rowfour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(83deg, #8490ff 0%, #62bdfc 100%);
  height: 300px;
}
.rowfour div {
  padding: 0 55px;
  color: white;
}
.rowfour h1 {
  padding: 0;
  margin: 0;
}
.rowfour p {
  padding: 0;
  margin: 0;
}
/* rowtfour css code [end] */

/* rowtfive css code [start] */

/* rowtfive top css code [start] */
.rowfive {
  padding: 100px 0;
}

.rowfive-top {
  display: flex;
  flex-direction: column;
}
.rowfive-top p {
  padding: 0;
  margin: 0;
}
/* rowtfive top css code [end] */

/* rowtfive middel css code [start] */

.rowfive-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.rowfive-list li {
  padding: 0 11px;
  text-decoration: none;
  transition-property: all;
  transition-duration: 300ms;

  text-decoration: double;
}

.rowfive-list li {
  position: relative;
  padding: 5px;
}

.rowfive-list li::after{
  content: '';
  transition: all 400ms ease-in-out ;
  width: 0%;
  display: flex;
  height: 3px;
  justify-content: start;
  background-color: #000000;
  align-content: flex-start;
  position: absolute;
  bottom: 0;
}
.rowfive-list li:hover::after{
  width: 50%;
  
}
/* rowtfive middel css code [end] */
/* rowtfive bottom css code [start] */
.rowfive-bottom {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 888px;
  flex-wrap: wrap;
  gap: 50px 26px;
}
.rowfive-bottom div::after{
  content:url(Images/preview.png.webp) ;
  background-color: #8490ff;
  opacity: .0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 120px;
  visibility: hidden;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function:ease-in;
}
.rowfive-bottom div:hover::after{
  visibility: visible;
  opacity: .7;
}
.rowfive-bottom:hover {
  /* color: #0056b3; */
}

/* rowtfive bottom css code [end] */
/* main css code [end] */
.rowfive-bottom div {
  position: relative;
}


/* Feedback css code [start] */
.Feedback{
  background-color: #f9f9ff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 100px 69px;
}
.Feedback p{
  opacity: .6;
}
.Feedback>h1{
  margin: 0;
}
.Feedback>p{
  margin-bottom: 58px;
  
}
/* comment css code [start] */
.comment{
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
}
.comment::after{
  content: "\e877";
  font-family: 'Linearicons-Free';
}
.comment div{
  background-color: white;
    width: fit-content;
    padding: 0px 31px;
    flex-wrap: wrap;
    text-align: left;
}
.comment a{
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.comment a:hover{
  color: #8490ff;
}

.Harriet-Maxwell{
display: flex;
}
.Harriet-Maxwell img{
  height: fit-content;
  width: 27px;
}

.Carolyn-Craig{
  display: flex;
}
.Carolyn-Craig img{
  height: fit-content;
  width: 27px;
}

#user{
  padding: 11px 0
}
/* Feedback css code [end] */
/* Feedback css code [end] */

/* choose plan css code [start] */
.choose-plan{
background-color: white;
margin-top: 22px;
margin-bottom: 111px;
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
flex-direction: column;
padding: 33px 0;
}
.choose-plan a{
  text-decoration: none;
  color: #000000;
}
/* chooseplan css code [start] */
.chooseplan{
  margin-bottom: 55px;
}
.chooseplan h1{
  margin: 0;
}
/* chooseplan css code [end] */

/* plan css code [start] */
.plan{
  display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.plans{
  background-color: #7381ff0f;
  width: max-content;
  transition: all 0.3s ease 0s;
}
.plans:hover{
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  transform: scale(1.1);
  /* transform: rotate(90deg);
  transform: translate( 11px, 22px ); */
  
  
}
.plans:hover li {
  color:white;
  transform: scale(1.1);
}
.plans:hover h1 {
  color:white;
  transform: scale(1.1);
}
.plans:hover p {
  color:white;
  transform: scale(1.1);
}
.plans li:hover::after {
  background-color: #ffffff;
  transform: scale(1.1);
}
.plan p{
  opacity: .4;
}
.plan ul li{
  padding: 12px 0;
  opacity: .4;
 
  
}
.plan ul{
  position: relative;
}
.plan li::after{
  content: '';
  background-color: #000000;
  height: 3px;
  display: flex;
  opacity: .1;
  margin: 15px 0;
  width: 86%;
  /* margin: 0 auto; */
  /* text-align: center; */
}
.first-li::before{
  content: '';
  background-color: #000000;
  height: 3px;
  display: flex;
  opacity: .1;
  margin: 15px 0;
  width: 86%;
  /* margin: 0 auto; */
}
/* economy css code [start] */
.economy{
  background-color: #7381ff0f;
  width: max-content;
  transition: all .5s ease-in-out;
  
  
}
.economy:hover .cercile{
  border: 30px solid rgba(252, 252, 252, 0.466);
}
.economy:hover .Buy{
  visibility: visible;
}
.economy:hover .btn{
  visibility: hidden;
}
/* economy css code [end] */
/* Business css code [start] */
.Business{
  background-color: #7381ff0f;
  width: max-content;
}
.Business:hover .cercile{
  border: 30px solid rgba(252, 252, 252, 0.466);
}
.Business:hover .Buy{
  visibility: visible;
}
.Business:hover .btn{
  visibility: hidden;
}
/* Business css code [end] */
/* Premium css code [start] */
.Premium{
  background-color: #7381ff0f;
  width: max-content;
}
.Premium:hover .cercile{
  border: 30px solid rgba(252, 252, 252, 0.466);
}
.Premium:hover .Buy{
  visibility: visible;
}
.Premium:hover .btn{
  visibility: hidden;
}
/* Premium css code [end] */
/* Exclusive css code [start] */
.Exclusive{
  background-color: #7381ff0f;
  width: max-content;
}
.Exclusive:hover .cercile{
  border: 30px solid rgba(252, 252, 252, 0.466);
}
.Exclusive:hover .Buy{
  visibility: visible;
}
.Exclusive:hover .btn{
  visibility: hidden;
}
.Exclusive:hover .cercile{
  border: 30px solid rgba(252, 252, 252, 0.466);
}
/* Exclusive css code [end] */
.cercile{
  width: 140px;
    height: 140px;
  border: 30px solid rgba(132, 144, 255, 0.1);
  background-color: rgba(132, 144, 255, 0.1);
  border-radius: 50%;
  vertical-align: middle;
  
}
.cercile h1{
  width: 140px;
    height: 80px;;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.btn{
position: relative;
}
.Buy{
  position: absolute;
  bottom: 7px;
  right: 33px;
  visibility: hidden;
  background-color: #fff;
    color: #222;
    padding: 10px 50px;
    font-weight: 600;
}
/* plan css code [end] */
/* choose plan css code [end] */